$color1: #000000;
$color2: #0e0c16;
$color3: #181521;
$color4: #1f1c28;
$color5: #a29db8;
$color6: #b5b2c1;
$color7: #e9e9e9;
$color8: #ff8a00;
$color9: #e52e71;
$color10: #534f63;
$color11: #7a7a8c;
